p {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container {
    display: flex;
    justify-content: center;
    align-self: center;
    .center {
        text-align: center;
    }
}

table {
    width: 50%;
}