<div class="navigation-container">
    <button mat-icon-button  aria-label="Navegar página anterior" class="navigation-button" routerLink="/materias">
        <mat-icon  aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
    </button>
</div>

<ng-container *ngIf="(horarios$ | async)?.length === 0">
    <h1>No existen horarios de consulta disponibles para esta materia</h1>
</ng-container>

<ng-container *ngIf="(horarios$ | async)?.length > 0">
    <h1>Listado de horarios disponibles</h1>
    
    <div class="container">
      <table mat-table [dataSource]="(horarios$ | async)">
        <ng-container matColumnDef="dia">
          <th mat-header-cell *matHeaderCellDef> Dia </th>
          <td mat-cell *matCellDef="let horario"> {{ horario.date_hour | date }} </td>
        </ng-container>
        <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef> Hora </th>
          <td mat-cell *matCellDef="let horario"> {{horario.date_hour | date: 'shortTime'}} </td>
        </ng-container>
        <ng-container matColumnDef="profesor">
          <th mat-header-cell *matHeaderCellDef> Profesor </th>
          <td mat-cell *matCellDef="let horario"> {{horario.profesor.name}} </td>
        </ng-container>
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef class="center"> Accion </th>
          <td mat-cell *matCellDef="let horario" class="center">
            <button mat-raised-button color="primary" 
              (click)="openInscripcionDialog(horario)">
              Inscribirse
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</ng-container>