<p>Listado de horarios disponibles</p>
<div class="container">
  <table mat-table [dataSource]="horarios" *ngIf="horarios">
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>
    <ng-container matColumnDef="profesor">
      <th mat-header-cell *matHeaderCellDef> Profesor </th>
      <td mat-cell *matCellDef="let element"> {{element.profesor}} </td>
    </ng-container>
    <ng-container matColumnDef="presencial/virtual">
      <th mat-header-cell *matHeaderCellDef> Presencial/Virtual </th>
      <td mat-cell *matCellDef="let element"> {{element.esPresencial}} </td>
    </ng-container>
    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef class="center"> Accion </th>
      <td mat-cell *matCellDef="" class="center">
        <button mat-raised-button color="primary">Inscribirse</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>