<p class="text-header">
    <b>Usted ha elegido inscribirse al horario de consulta de {{ horarioConsulta.materia.name }}
        dictada por {{ horarioConsulta.profesor.name }}</b>
</p>
<div>
    <p>Para finalizar ingrese su email</p>
    <form class="inscription-form" (ngSubmit)="inscribirse()">
        <mat-form-field class="inscription-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput aria-label="Email" [formControl]="emailFormControl" placeholder="Ej. ejemplo@gmail.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Por favor ingrese un email válido
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            El email es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <div class="action-buttons">
          <button mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
          <button mat-raised-button color="primary" type="submit">Aceptar</button>
      </div>
    </form>
</div>
