.header {
    display: flex;
    align-items: center;
    background-color: #000000;
    padding: 1em;
    img {
        width: 15%;
    }
    p {
        color: #FFFFFF;
        font-size: 2vw;
        margin: 0 0 0 1em;
    }
}