<div class="header">
    <div class="logo">
        <a href="/">
            <img src="https://i.ibb.co/2MnTcxc/utn-logo.png">
        </a>
        <p>SISTEMAS DE CONSULTAS FRRO</p>
    </div>
    <div class="actions" *ngIf="authService.currentUser.name === 'Admin'">
        <div class="botones">
            <button routerLink="/usuarios">Usuarios</button>
            <button routerLink="/admin-materias">Materias</button>
            <button routerLink="admin-horarios">Horarios</button>
        </div>
        <div>
            <p>{{authService.currentUser.name}}</p>
            <button (click)="cerrarSesion()">Cerrar sesión</button>
        </div>
    </div>
    <div class="actions" *ngIf="authService.currentUser.name === 'Profesor'">
        <p>{{authService.currentUser.name}} - </p>
        <button (click)="cerrarSesion()">Cerrar sesión</button>
    </div>
    <div class="actions" *ngIf="authService.currentUser.name === 'Alumno'">
        <p>{{authService.currentUser.name}} - </p>
        <button (click)="cerrarSesion()">Cerrar sesión</button>
    </div>
</div>
