<div class="header">
	<div class="logo">
		<a href="/">
			<img src="https://i.ibb.co/2MnTcxc/utn-logo.png" alt="logo">
		</a>
		<p>SISTEMAS DE CONSULTAS FRRO</p>
	</div>
	<div class="actions" *ngIf="authService?.currentUser?.rol_id === 1">
		<div class="botones">
			<button routerLink="/usuarios">Usuarios</button>
			<button routerLink="/admin-materias">Materias</button>
		</div>
		<div>
			<p>{{authService.currentUser.name}}</p>
			<button (click)="cerrarSesion()">Cerrar sesión</button>
		</div>
	</div>
	<div class="actions" *ngIf="authService?.currentUser?.rol_id === 2">
		<p>{{authService.currentUser.name}} - </p>
		<button (click)="cerrarSesion()">Cerrar sesión</button>
	</div>
</div>