<div class="navigation-container">
    <button mat-icon-button  aria-label="Navegar página anterior" class="navigation-button" routerLink="..">
        <mat-icon  aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
    </button>
</div>

<h1>Crear Horario de Consulta</h1>

<div class="conteiner-form">
	<form [formGroup]="form" (ngSubmit)="add_horario()" class="example-form">
		<mat-form-field class="example-full-width" appearance="fill">
			<mat-label>Seleccionar Día</mat-label>
			<mat-select formControlName="day" required>
				<mat-option value="" selected></mat-option>
				<mat-option value="Monday">Lunes</mat-option>
				<mat-option value="Tuesday">Martes</mat-option>
				<mat-option value="Wednesday">Miercoles</mat-option>
				<mat-option value="Thursday">Jueves</mat-option>
				<mat-option value="Friday">Viernes</mat-option>
				<mat-option value="Saturday">Sabado</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field class="example-full-width" appearance="fill">
			<mat-label>Seleccionar Hora</mat-label>
			<mat-select formControlName="hour" required>
				<mat-option value="" selected></mat-option>
				<mat-option value="8">8</mat-option>
				<mat-option value="9">9</mat-option>
				<mat-option value="10">10</mat-option>
				<mat-option value="11">11</mat-option>
				<mat-option value="12">12</mat-option>
				<mat-option value="13">13</mat-option>
				<mat-option value="14">14</mat-option>
				<mat-option value="15">15</mat-option>
				<mat-option value="16">16</mat-option>
				<mat-option value="17">17</mat-option>
				<mat-option value="18">18</mat-option>
				<mat-option value="19">19</mat-option>
				<mat-option value="20">20</mat-option>
				<mat-option value="21">21</mat-option>
				<mat-option value="22">22</mat-option>
				<mat-option value="23">23</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field class="example-full-width" appearance="fill">
			<mat-label>Seleccionar Materia</mat-label>
			<mat-select formControlName="id_materia" required>
				<mat-option *ngFor="let materia of materias" (ngSubmit)="add_horario()" [value]="materia.id">
					{{materia.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<div>
			<button mat-raised-button class="button" type="submit">Guardar Horario</button>
		</div>
	</form>
</div>