p {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin-top: 1em;
    margin-bottom: 1em;
}
.Conteiner-form{
    background-color: rgb(189, 190, 190);
    display: flex;
    padding: 1%;
    overflow: auto;
    height: 270px;
    width: 630px;
    margin-left: 35em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.example-full-width{
    background-color: white;
    margin-top: 9vh;
    margin-left: 16vh;
    width: 50vh;
}
.button{
    margin-top: 4vh;
    margin-left: 33vh;
    background-color: #3f51b5;
    color: #ffffff;
}