<div class="navigation-container">
    <button mat-icon-button  aria-label="Navegar página anterior" class="navigation-button" routerLink="..">
        <mat-icon  aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
    </button>
</div>

<h1 class="title">Crear Materia</h1>


<div class="form-container">
	<form [formGroup]="form" (ngSubmit)="add_materia()">
		<mat-form-field class="full-width" appearance="fill">
			<mat-label>Ingresar Nueva Materia</mat-label>
			<input matInput formControlName="name" type="text" aria-label="buscador">
		</mat-form-field>

		<button mat-raised-button class="button" type="submit">Crear Materia</button>

        <span *ngIf="error" class="error">{{error}}</span>
	</form>
</div>