<div class="example-container mat-elevation-z8" >
  
          <mat-table [dataSource]="dataSource" matSort>

            <!--Columna usuario -->
            <ng-container matColumnDef="usuario">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <!--Boton agregar -->
            <ng-container matColumnDef="agregar">
              <mat-header-cell *matHeaderCellDef> Agregar </mat-header-cell>
              <mat-cell *matCellDef="let element" > <button mat-icon-button matTooltip="Clickear para agregar" class="iconbutton"
                  color="primary">
                  <mat-icon>done_outline</mat-icon>
                </button> </mat-cell>
            </ng-container>
  
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
  
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
        </div>