.cabecera{
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
h1 {
    justify-content:left;
    font-size: 2vw;
    padding-left: 30%;
    margin-bottom: 0;
}
.crear{
    margin-left: 15%;
    width: 75px;
    background-color: #5fa1bd;
    color: white;
}
.mat-success {
    background-color: green;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-self: center;
    .center {
        text-align: center;
    }
    .mat-primary {
        background-color: #5FA1BD;
    }
}

table {
    width: 40%;
}

.mat-column-id {
    flex: 0 0 15%;
}

.mat-column-rol_id {
    flex: 0 0 15%;
}
.mat-column-email {
    flex: 0 0 50%;
}
.mat-column-usuario {
    flex: 0 0 20%;
}
@media (max-width: 680px) {
    table {
        width: 100%;
    }
}