.cabecera{
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}
p {
    justify-content:left;
    font-size: 2vw;
    padding-left: 26%;
}
.agregar{
    margin-left: 14%;
}
.mat-success {
    background-color: green;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-self: center;
    .center {
        text-align: center;
    }
    .mat-primary {
        background-color: #5FA1BD;
    }
}

table {
    width: 50%;
}

@media (max-width: 680px) {
    table {
        width: 100%;
    }
}