.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;

    .header {
        position: relative;
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        width: 100%;

        h1 {
            display: inline;
            font-size: 2vw;
            margin: 0;
        }

        .crear {
            position: absolute;
            right: 0;
            width: 75px;
            background-color: #5fa1bd;
            color: white;
        }

    }

    table {
        width: 100%;

        .mat-column-dia {
            flex: 1;
        }

        .mat-column-hora {
            flex: 2;
        }

        .mat-column-materia {
            flex: 3;
        }

        .mat-column-inscriptos {
            flex: 3;
        }

        .mat-column-accion {
            flex: 3;
        }
    }

    .paginator {
        align-self: end;
    }
}