<div class="container">
    <div class="header">
        <h1>Mis Horarios de Consulta</h1>
        <button mat-raised-button class="crear" routerLink="./crear">Crear</button>
    </div>

	<table mat-table [dataSource]="dataSource" matSort>
		<ng-container matColumnDef="dia">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Dia </th>
			<td mat-cell *matCellDef="let horario"> {{ horario.date_hour | date }} </td>
		</ng-container>
		<ng-container matColumnDef="hora">
			<th mat-header-cell *matHeaderCellDef> Hora </th>
			<td mat-cell *matCellDef="let horario"> {{horario.date_hour | date: 'shortTime'}} </td>
		</ng-container>
		<ng-container matColumnDef="materia">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Materia </th>
			<td mat-cell *matCellDef="let horario"> {{horario.materia.name}} </td>
		</ng-container>
        <ng-container matColumnDef="inscriptos">
            <th mat-header-cell *matHeaderCellDef>Inscriptos </th>
            <td mat-cell *matCellDef="let horario"> {{horario.consultas.length}} </td> 
        </ng-container>
		<ng-container matColumnDef="accion">
			<th mat-header-cell *matHeaderCellDef> Accion </th>
			<td mat-cell *matCellDef="let horario">
				<button mat-raised-button color="primary" (click)="eliminar_materia(horario.id)">
					Eliminar
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

    <mat-paginator 
        class="paginator"
        #paginator
        [pageSizeOptions]="[10, 20]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>