<div class="rectangle">
    <form class="create-account-form" (ngSubmit)="login()">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" required matInput [(ngModel)]="credentials.email" name="email" placeholder="Ingrese su email aquí" aria-label="email"/>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input type="password" required matInput [(ngModel)]="credentials.password" name="password" placeholder="Ingrese su contraseña aquí" aria-label="contraseña"/>
        </mat-form-field>
        <div class="container">
            <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
    </form>
    

</div>
