<div class="header">
    <a [routerLink]="['/']">
		<button class="buttonback" mat-flat-button color="primary" onclick="">Volver</button>
	</a>
    <H2 class="title">Crear Materia</H2>
</div>



<Div class="Conteiner-form">
    <form  [formGroup]="form" (ngSubmit)="add_matter()" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ingresar Nueva Materia</mat-label>
            <input matInput formControlName="name" type="text" class="searcher" >
        </mat-form-field>
        <div>
            <button mat-raised-button class="button" type="submit" >Guardar Materia</button>
        </div>
    </form>
</Div>
