<div class="navigation-container">
    <button mat-icon-button  aria-label="Navegar página anterior" class="navigation-button" routerLink="..">
        <mat-icon  aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
    </button>
</div>

<h1>Listado de Materias</h1>

<mat-form-field appearance="standard">
	<mat-label>Filtro</mat-label>
	<input matInput (keyup)="applyFilter($event)" placeholder="Ej. Entornos Graficos" #input>
</mat-form-field>
<div class="container">
	<table mat-table [dataSource]="dataSource">
	  <ng-container matColumnDef="materia">
		<th mat-header-cell *matHeaderCellDef> Materia </th>
		<td mat-cell *matCellDef="let materia"> {{materia.name}} </td>
	  </ng-container>
	  <ng-container matColumnDef="accion">
		<th mat-header-cell *matHeaderCellDef class="center"> Accion </th>
		<td mat-cell *matCellDef="let materia" class="center">
		  <button mat-raised-button color="primary" (click)="verHorarios(materia.id)" >
			Ver horarios
		  </button>
		</td>
	  </ng-container>
	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	  <tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="4">No se encontraron materias con el nombre "{{input.value}}"</td>
	  </tr>
	</table>
  </div>

