<p>Listado de Materias</p>

<!-- HACER UN BUSCADOR SIMPLE
<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input aria-label="buscar">
</mat-form-field>
-->
<div class="container">
	<table mat-table [dataSource]="materias">
	  <ng-container matColumnDef="materia">
		<th mat-header-cell *matHeaderCellDef> Materia </th>
		<td mat-cell *matCellDef="let materia"> {{materia.name}} </td>
	  </ng-container>
	  <ng-container matColumnDef="accion">
		<th mat-header-cell *matHeaderCellDef class="center"> Accion </th>
		<td mat-cell *matCellDef="let materia" class="center">
		  <button mat-raised-button color="primary" (click)="verHorarios(materia.id)" >
			Ver horarios
		  </button>
		</td>
	  </ng-container>
	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
  </div>

