<div class="navigation-container">
    <button mat-icon-button  aria-label="Navegar página anterior" class="navigation-button" routerLink="..">
        <mat-icon  aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
    </button>
</div>


<h1 class="title">Crear Nuevo Usuario</h1>

<div class="form-container">
	<form [formGroup]="form" (ngSubmit)="add_usuario()">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Seleccionar Rol</mat-label>
            <mat-select matNativeControl formControlName="rol" required>
                <mat-option value="" selected></mat-option>
                <mat-option value="1">Admin</mat-option>
                <mat-option value="2">Profesor</mat-option>
                <mat-option value="3">Alumno</mat-option>
            </mat-select>
        </mat-form-field>
		<mat-form-field class="full-width" appearance="fill">
			<mat-label>Ingresar Nombre</mat-label>
			<input matInput formControlName="name" type="text" class="searcher" aria-label="nombre">
		</mat-form-field>
		<mat-form-field class="full-width" appearance="fill">
			<mat-label>Ingresar Email</mat-label>
			<input matInput formControlName="email" type="email" class="searcher" aria-label="email">
		</mat-form-field>
		<mat-form-field class="full-width" appearance="fill">
			<mat-label>Ingresar Contraseña</mat-label>
			<input matInput formControlName="password" type="password" class="searcher" aria-label="contraseña">
		</mat-form-field>

		<button mat-raised-button class="button" type="submit">Guardar Usuario</button>

        <span *ngIf="error" class="error">{{error}}</span>
	</form>
</div>