.title {
	text-align: center;
}

.Conteiner-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	display: flex;
	justify-content: center;
	font-size: 2vw;
	margin-top: 1em;
	margin-bottom: 1em;
}

.example-full-width {
	background-color: white;
	margin-top: 3vh;
	width: 50vh;
}

.button {
	margin-top: 4vh;
}